# Python
.venv/
__pycache__/
*.pyc
*.pyo

# VS Code 本地配置（不上传）
.vscode/

# ROS catkin 编译产物
src/perception_ws/build/
src/perception_ws/devel/
src/perception_ws/install/
.catkin_workspace

# 大文件 / 数据
*.bag
*.mp4

# 系统文件
.DS_Store
*.swp
*.swo
